
.content2-display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
  
    
}


@media screen and (max-width: 500px){

    .content2-display{
        flex-direction: column;
    }
}