
.content4-display{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100%;
    

    border-radius: 0px;
background: #c0c0c0;
box-shadow: inset 5px 5px 9px #929292,
            inset -5px -5px 9px #eeeeee;
}

/* .triangle2{
    
        width:2rem;
        height:2rem;
        background: rgb(41,41,41);
        
    -webkit-transform:rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: -2.8rem;
      margin-bottom: 2rem;
      
      
    
} */
@media screen and (max-width: 500px){

    .content4-display{
        width: 100%;
        height: 100%;
    }
}
